.red-debug{
  clear:both;
  border:1px solid red;
}
.green-debug{
  clear:both;
  border:1px solid green;
}
.black-debug{
  clear:both;
  border:1px solid black;
}
.white-debug{
  clear:both;
  border:1px solid white;
}