// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -ms-border-radius:      $radius;
  border-radius:          $radius;
}


/* to deal with custom brak points */
$breakpoints: (
        'small'  : ( max-width:  768px ),
        'medium' : ( max-width:  992px ),
        'large'  : ( max-width: 1200px )
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
  }
}

/* to deal with no padding */

@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}


/* mixin for buttons */

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    color: $white;
  }
  &:active {
    background:darken($bg,25%);
  }
}

