// fonts
$customFontFamily:    'Source Sans Pro', sans-serif;

// font-weight
$fontWeightNormal:    400;
$fontWeightBold:      700;

// paths
$staticURL:           "https://www.path-to-image.co.uk/";
$imageURL:            "../images/";

// colours
$white:               #fff;
$black:               #000;
$headerBg:            #f1f2f2;
$titleBorderBtm:      #a5a5a5;
$bgBoxResponse:       #e8e8e8;
$defaultText:         #424242;
$defaultFooterBg:     #545353;
$defaultBlueBtn:      #00aeef;
$defaultGreen:        green;
$btnGrayBg:           #aaaaaa;
$socialBtns:          #bbbabb;
$defaultBgRed:        #ed1c24;
$defaulPurpleBorder:  #990099;
$defaultTextPurple:   #550066;



